
<div>
<!-- <form> -->
  <div class="input-group mb-3">
    <input type="text" class="form-control Search-form" placeholder="Search for git users" >
    <div class="input-group-append">
    <input type="submit" value="Search" class="cta btn btn-danger">
    </div>
  </div>
<!-- </form> -->
</div>

<hr>


<div class="container">
  <div class="rows" *ngIf="gitprofile">
    <div class="col-lg-4" >
      <!-- <img [src]="user.images.downsized.url" class="img-fluid"> -->
      <p> <b>{{gitprofile.login}} </b></p>
      <img class="img-fluid" src="{{gitprofile.avatar_url}}">
    </div>

    <div class="col-lg-8" >
      <!-- <img [src]="user.images.downsized.url" class="img-fluid"> -->
      <p>{{gitprofile.repos_url}}</p>
    </div>

  </div>
</div>
