.jumbotron {
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 2%;

}
.panel {
  margin: auto;

}

img {
  border-radius: 3%;
  max-inline-size:100%;

}
.container {
  margin: 0%;
}

.col-sm-4 {
 border: 1px solid slategrey;
 border-radius: 2%;
 margin-right: 0%;

}
.row {
 max-width: 100%
  }
#repos-display {
  }

