<div>

</div>

<hr>


<div class="">
  <div class="row" *ngIf="gitprofile">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <b>{{gitprofile.name}}. </b> <small><b>[ {{gitprofile.login}} ] </b></small> <span
          *ngIf="gitprofile.company">Works at {{gitprofile.company}}</span>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid img-responsive" src="{{gitprofile.avatar_url}}" alt="profile Image">
          </div>
          <div class="col-sm-5">
            <ul class="list-group">
              <li class="list-group-item" *ngIf="gitprofile.bio">{{gitprofile.bio}}</li>
              <li class="list-group-item" *ngIf="gitprofile.hireable">Available for hire</li>
              <li class="list-group-item" *ngIf="gitprofile.blog">{{gitprofile.blog}}</li>
              <li class="list-group-item" *ngIf="gitprofile.email"><a
                  href="emailto:{{gitprofile.email}}">{{gitprofile.email}}</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div>
              <p><span class="badge badge-primary">Following - {{gitprofile.following}}</span></p>
              <p><span class="badge badge-secondary">Followers - {{gitprofile.followers}}</span></p>
              <p><span class="badge badge-success">Public Gists - {{gitprofile.public_gists}}</span></p>
              <p><span class="badge badge-info">Public Repos - {{gitprofile.public_repos}}</span></p>

              <p>
                <a class="btn btn-secondary" [routerLink]="'/profile'" >View GitHub Profile in GitHub</a>
              </p>
            </div>

          </div>
        </div>

      </div>



    </div>



<!--  Display Repossitiries fron=m Json API call-->
    <div class="row">

        <div class=" panel panel-default">
            <div class="panel-heading">
              <h4>Repositories</h4>
            </div>

            <div class="panel-body">
              <div >
                <div class="row" *ngFor="let repo of repos">

                </div>



              </div>

            </div>



          </div>

    </div>

  </div>
</div>
