
<!-- <form #searchForm="ngForm" (ngSubmit)="findProfile()">
  <div class="input-group mb-3">
    <input type="text" class="form-control Search-form" placeholder="Search for git users" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    <div class="input-group-append">
    <input type="submit" value="Search" class="cta btn btn-danger">
    </div>
  </div>
</form> -->


<div class="container">
  <div class="rows" *ngIf="gitprofile">
    <div class="col-lg-4" >
      <!-- <img [src]="user.images.downsized.url" class="img-fluid"> -->
      <p>{{gitprofile.login}} </p>
      <img src="{{gitprofile.avatar_url}}">
    </div>

    <div class="col-lg-8" >
      <!-- <img [src]="user.images.downsized.url" class="img-fluid"> -->
      <p>{{gitprofile.login}} </p>
    </div>

  </div>
</div>
